[submodule "themes/LoveIt"]
	path = themes/LoveIt
	url = git@github.com:dillonzq/LoveIt.git
[submodule "public"]
	path = public
	url = git@github.com:Lruihao/lruihao.github.io.git
[submodule "assets/lib/watermark"]
	path = assets/lib/watermark
	url = https://github.com/Lruihao/watermark.git
