/**
 * @Description: Style of layout named 'Friend links'.
 * @Author: lruihao.cn
 * @Updated:  2021/9/20 9:05
 */
 
.friend-links {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 576px) {
  .friend-links {
    justify-content: space-around;
  }
}
.card-box {
  width: 150px;
  height: 200px;
  font-size: 1rem;
  text-align: center;
  background: rgba(255,255,255,0.3);
  box-sizing: border-box; 
  box-shadow: 3px 3px 5px #aaa;
  border-radius: 5px;
  transition-duration: 0.3s;
  margin-bottom: 1rem;
}
.card-box:hover {
  background: #fff;
  transform: scale(1.03);
  box-shadow: 0 0 3px #aaa;
}
.card-box a {
  border:none;
  display: flex;
  flex-direction: column;
  height: calc(100% - 1rem);
}
.card-avatar {
  object-fit: cover;
  object-position: center;
  width: 100%!important;
  height: 150px!important;
  border-radius: 5px;
  margin: 0;
  padding: 0;
}
.card-box span{
  display: block;
  position: relative;
  color: #2bbc8a;
  font-weight: bold;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.card-box span:hover {
  color: #d480aa;
}