// ==============================
// Custom style
// ==============================
@import '_custom/page-style.scss';
@import '_custom/shaky.scss';

$blog-base-color: #e6e5f8 !default;
$blog-bg-color: #fafaf8 !default;

:root {
  --grid-line-color: light-dark(rgba(60, 10, 30, .04), rgba(195, 245, 215, .04));
}

#header-desktop {
  transition: filter 0.3s ease;
  box-shadow: none !important;

  @include light-mode {
    background-image: linear-gradient(180deg, lighten($blog-base-color, 5%), $blog-base-color);
  }

  &::after {
    content: '';
    position: absolute;
    top: 3.5rem;
    left: 0;
    width: MAX(360px, 10%);
    height: 110px;
    pointer-events: none;
    background-image: url(/images/drop.min.svg);
    // 背景图水平翻转
    transform: scaleX(-1);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;

    @include dark-mode {
      background-image: url(/images/drop-dark.min.svg);
    }
  }

  &:hover {
    filter: drop-shadow(0 0 0.75rem light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1)));
  }

  @include scroll-state-query('scroller scroll-state(scrollable: top)') {
    box-shadow: $header-box-shadow;
    filter: drop-shadow(0 0 0.75rem light-dark(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 0.1)));
  }
}

.github-corner svg {
  @include light-mode {
    fill: darken($blog-base-color, 25%);
  }
}

.fi-container:has(.home) {
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: MAX(100vh, 400px);
    background-image: linear-gradient(90deg, var(--grid-line-color) 1px, transparent 0), linear-gradient(1turn, var(--grid-line-color) 1px, transparent 0);
    background-size: 40px 40px;
    background-position: center;
    border-bottom: 1px solid var(--grid-line-color);
  }
}

.header-title {
  font-family: MMT_H, '沐目体';
  font-size: 2rem !important;
  font-weight: normal;

  .logo {
    min-height: 0.8em;
    height: 0.8em;
  }
}

#header-mobile {
  .header-wrapper {
    max-height: 3.5rem;
  }

  .header-subtitle {
    font-size: 0.55em;
  }
}

.single {
  .single-subtitle {
    color: light-dark(#57606a, inherit);
  }

  .content {
    background-image: linear-gradient(90deg, var(--grid-line-color) 3%, transparent 0), linear-gradient(1turn, var(--grid-line-color) 3%, transparent 0);
    background-size: 20px 20px;
    background-position: center;
  }

  // Content adapter generated posts style
  // &[data-adapters='projects'] {
  //   // write here
  // }
}

.home {
  .profile-ghchart {
    padding: 0.5rem;
    width: MIN(663px, 100%);
    aspect-ratio: 663/104;
  }

  .featured-image-preview {
    mask-image: linear-gradient(
      180deg,
      light-dark(#fff, #000) 0%,
      light-dark(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.8)) 65%,
      light-dark(rgba(255, 255, 255, 0.4), rgba(0, 0, 0, 0.4)) 100%
    );
  }

  &.posts {
    .home-profile {
      box-sizing: border-box;
      height: MAX(calc(100vh - 3.5rem), 400px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .home-avatar img {
      width: 8rem;
    }
  }
}

.aside-custom {
  &:not(:first-child) {
    margin-top: 1rem;
  }
}

// Custom font
@font-face {
  font-family: MMT_H;
  src: url('/fonts/mmt_header.ttf');
  font-display: swap;
}

@font-face {
  font-family: MMT_LRH;
  src: url('/fonts/mmt_sign.ttf');
  font-display: swap;
}

// ==============================
// Not mobile style
// ==============================
@include media('sm', 'up') {
  body {
    @include light-mode {
      background-color: $blog-bg-color;
    }
  }
  .breadcrumb-container {
    @include light-mode {
      background-color: $blog-bg-color;
  
      .breadcrumb {
        border-color: darken($global-border-color, 6%);
      }
    }
  }
}

// ==============================
// Mobile style
// ==============================
@include media('xs') {
  .home {  
    &.posts {
      .home-avatar img {
        width: 6rem;
      }
    }
  }
}
