{{- define "custom-head" -}}
  {{- partial "inject/component-projects.html" . -}}
  {{- partial "inject/fixit-docs-bookmark.html" . -}}
  {{- partial "inject/shortcode-rewards.html" . -}}
{{- end -}}

{{- define "custom-profile" -}}
  {{- partial "custom/profile.html" . -}}
{{- end -}}

{{- define "custom-aside" -}}
{{- end -}}

{{- define "custom-footer" -}}
{{- end -}}

{{- define "custom-widgets" -}}
  {{- partial "custom/wechat-box.html" . -}}
{{- end -}}

{{- define "custom-assets" -}}
  {{- partial "custom/use-assets.html" . -}}
  {{- partial "inject/shortcode-caniuse.html" . -}}
{{- end -}}
