{{- define "custom-head" -}}
  {{- partial "inject/component-projects.html" . -}}
  {{- partial "inject/fixit-docs-bookmark.html" . -}}
  {{- partial "inject/shortcode-rewards.html" . -}}
{{- end -}}

{{- define "custom-profile" -}}
  {{- partial "custom/profile.html" . -}}
{{- end -}}

{{- define "custom-aside" -}}
  {{- partial "custom/aside.html" . -}}
{{- end -}}

{{- define "custom-footer" -}}
{{- end -}}

{{- define "custom-widgets" -}}
  {{- partial "custom/wechat-box.html" . -}}
{{- end -}}

{{- define "custom-assets" -}}
  {{- partial "custom/use-assets.html" . -}}
  {{- partial "inject/shortcode-caniuse.html" . -}}
  {{- partial "inject/cmpt-mdevtools.html" . -}}
{{- end -}}

{{- define "custom-post__footer:before" -}}
{{- end -}}

{{- define "custom-post__footer:after" -}}
  {{- partial "custom/post-footer-after.html" . -}}
{{- end -}}
