{{- define "custom-head" -}}
  {{- partial "inject/component-projects.html" . -}}
{{- end -}}

{{- define "custom-profile" -}}
  {{- dict "Src" "https://ghchart.rshah.org/Lruihao" "Class" "profile-ghchart" "Alt" "Lruihao's GitHub chart" "Title" "Lruihao's GitHub chart" "Width" "633" "Height" "104" | partial "plugin/image.html" -}}
  {{- $template := resources.Get "images/drop.template.svg" -}}
  {{- $resource := ($template | resources.ExecuteAsTemplate "images/drop.svg" (dict "isDark" false) | minify).RelPermalink -}}
  {{- $resourceDark := ($template | resources.ExecuteAsTemplate "images/drop-dark.svg" (dict "isDark" true) | minify).RelPermalink -}}
{{- end -}}

{{- define "custom-aside" -}}
{{- end -}}

{{- define "custom-footer" -}}
{{- end -}}

{{- define "custom-widgets" -}}
{{- end -}}

{{- define "custom-assets" -}}
{{- end -}}
