.site-data {
  text-align: center;
}
.site-data span {
  font-size: .875rem;
  color: #a9a9b3;
}
.color-dark-gray{
  color: DarkSlateGray;
}
.animate-icon {
  color: #dc143c;
  animation: icon-animate 1.33s ease-in-out infinite;
}
@keyframes icon-animate {
  0%,100% {
    transform: scale(1)
  }

  10%,30% {
    transform: scale(.9)
  }

  20%,40%,60%,80% {
    transform: scale(1.1)
  }

  50%,70% {
    transform: scale(1.1)
  }
}
